<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title><h1>Student Management System</h1></title>
</head>
<body>

<form action ="register" method="post">

<label for ="FirstName">Firstname</label><br/>
<input type ="text" name="fname/"><br/>

<label for ="FirstName">Lastname</label><br/>
<input type ="text" name="lname/"><br/>

<label for ="MailID">mail id</label><br/>
<input type ="email" name="email/"><br/>

<label for ="PhoneNumber"></label><br/>
<input type ="text" name="phoneNumber/"><br/>

<label for ="DateOfBirth">DateOfBirth</label><br/>
<input type ="date" name="dob/"><br/>

<label for ="Gender">Gender</label><br/>
<select name="Gender">
<option value = " "></option>
<option value = "Female">Female</option>
<option value = "Female">Male</option>
</select><br/>

<label for ="AddressLine1">Address Line 1</label><br/>
<input type ="text" name="AddLine1/"><br/>

<label for ="AddressLine2">Address Line 2</label><br/>
<input type ="text" name="AddLine2/"><br/>

<label for ="City">City</label><br/>
<input type ="text" name="city/"><br/>

<label for ="State/Provinsion">State/Provinsion</label><br/>
<input type ="text" name="StateProv/"><br/>

<label for ="PostalCode">Postal Code</label><br/>
<input type ="text" name="PostalCode/"><br/>

<label for ="Country">Country</label><br/>
<input type ="text" name="country/"><br/>

<button type ="submit">Submit</button>

</form>

</body>
</html>

</body>
</html>